<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>register</title>
  </head>
  <body class="h-100">
    <div class="h-100 d-flex align-items-center">
        <div class="shadow-lg mx-auto col-md-4 rounded-lg">
            <h3 class="my-3" style="color: #56baed">회원가입</h3>
    
            <form method="POST" autocomplete="off">
                <div class="form-group">
                    <label for="id" class="d-block">별명:</label>
                    <input type="text" class="form-control d-inline-block mb-2" name="nickname">
                    
                    <label for="id" class="d-block mt-3">아이디:</label>
                    <input type="text" class="form-control d-inline-block" name="id" id="id">
                    <div id="idCheck" class="mt-2 ml-2"></div>

                    <label for="pw" class="mt-3">비밀번호:</label>
                    <input type="password" class="form-control mb-2" name="pw" id="pw">

                    <label for="pwre" class="mt-3">비밀번호 확인:</label>
                    <input type="password" class="form-control" name="repw" id="repw">
                    <div id="pwCheck" class="mt-2 ml-2"></div>

                    <input type="submit" id="submit" class="d-block btn btn-outline-primary mt-4 mx-auto" style="color: #56baed; border-color: #56baed" value="회원가입">
                </div>
            </form>
    
            <div class="mb-3">
                이미 가입했다면? <a class="underlineHover" href="/users/login">로그인하기</a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <!-- password confirm -->
    <script>
        $("#pw, #repw").on("propertychange change keyup paste input", () => {
            if($("#pw").val() === $("#repw").val()) {
                $("#pwCheck").css("color", "#56baed");
                $("#pwCheck").html("* 비밀번호 일치");
                $("#submit").attr("disabled", false);
            } else {
                $("#pwCheck").css("color", "#FF0000");
                $("#pwCheck").html("* 비밀번호 불일치");
                $("#submit").attr("disabled", true);
            }
        });
    </script>

    <!-- id exists -->
    <script>
        $('#id').on('propertychange change keyup paste input', () => {
            $.ajax({
                url: './exists',
                type: 'get',
                data: { id: $('#id').val() },
                success: (isExists) => {
                    console.log(isExists)
                    if(isExists) {
                        $('#idCheck').css('color', '#FF0000');
                        $('#idCheck').html('아이디 중복');
                        $("#submit").attr("disabled", true);
                    } else {
                        $('#idCheck').css('color', '#56baed');
                        $('#idCheck').html('아이디 사용가능');
                        $("#submit").attr("disabled", false);
                    }
                },
                error: (err) => {
                    console.log(err);
                }
            })
        })
    </script>
  </body>
</html>