<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>upload</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  <body style="overflow-x:hidden; overflow-y:hidden" class="bg-light h-100">
    <nav class="navbar navbar-expand-lg navbar-white bg-white shadow-sm fixed-top">
        <a class="navbar-brand" href="/">Vuivei</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/videos">Video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/live">Live</a>
                </li>
            </ul>
            <div class="dropdown">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fas fa-plus"></i></button>
                <div class="dropdown-menu" style="min-width: 0;">
                    <a class="dropdown-item px-2" href="/videos/upload">업로드</a>
                    <a class="dropdown-item px-2" href="/live/upload">라이브 방송</a>
                </div>
            </div>
            <div class="dropdown">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><%= curUser.nickname %></button>
                <div class="dropdown-menu" style="min-width: 0;">
                    <a class="dropdown-item px-2" href="/channel?userID=<%= curUser.id %>">내 채널</a>
                    <a class="dropdown-item px-2" href="/users/logout">로그아웃</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="row mt-5">
        <div class="col-md-2 p-3 my-3">
            
        </div>

        <div class="col-md-10">
            <div class="col-md-5 pl-0 mt-5">
                <form method="POST" enctype="multipart/form-data" id="fileForm">
                    <div class="form-group">
                        <label for="title">영상 제목:</label>
                        <input type="text" class="form-control" name="title" id="title" required>
                        <label for="description" class="mt-3">영상 설명:</label>
                        <input type="text" class="form-control" name="description" id="description" required>
                    </div>
                    <div class="custom-file mt-4">
                        <label class="custom-file-label overflow-hidden" for="customFile">Choose file</label>
                        <input type="file" class="custom-file-input" id="customFile" name="video" id="video" required>
                    </div>
                    <div class="form-group mt-5">
                        <div class="row">
                            <div class="col-md-5">
                                <button id="submit" class="btn btn-primary">
                                    <span class="my-auto" id="state">Upload</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        $(".custom-file-input").on("change", function() {
            const fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        
        $("#submit").on("click", () => {            
            $.ajax({
                url: '../videos/upload',
                type: 'post',
                enctype: 'multipart/form-data',
                data: new FormData($("#fileForm")[0]),
                success: (result) => {
                    $(".spinner-border").remove();
                    $("#submit").prepend('<i class="fa fa-check mr-1"></i>');
                    $("#state").html("Success");
                },
                error: (err) => {
                    $(".spinner-border").remove();
                    $("#submit").prepend('<i class="fas fa-times"></i>');
                    $("#state").html("Failed");
                },
                processData: false,
                contentType: false,
            });

            $("#submit").attr("disabled", true);
            $("#submit").prepend('<span class="spinner-border spinner-border-sm mr-1" role="status" style="margin-bottom: 1%;" aria-hidden="true"></span>');
            $("#state").html("Uploading...");
        });
    </script>
  </body>
</html>